.container {
  .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
  }

  .query-text {
    color: #f7d354;
  }
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
  }

  div a {
    background-color: #f7d354;
    color: #000;
    font-weight: bold;
    border: 2px solid #f7d354;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: center;
    transition: 0.4seg;
  }

  div a:hover {
    background-color: transparent;
    color: #f7d354;
  }

  div svg {
    color: #f7d354;
  }

  div img {
    max-width: 100%;
  }

  div img,
  div h2,
  div p {
    margin-bottom: 1rem;
  }
}
